[submodule "WArchive-Tools"]
	path = WArchive-Tools
	url = https://github.com/LagoLunatic/WArchive-Tools.git
	branch = master
[submodule "JStudio"]
	path = JStudio
	url = https://github.com/LordNed/JStudio.git
[submodule "SuperBMD"]
	path = SuperBMD
	url = https://github.com/LagoLunatic/SuperBMD.git
	branch = master
[submodule "GameFormatReader"]
	path = GameFormatReader
	url = https://github.com/LagoLunatic/GameFormatReader.git
	branch = master
