[submodule "WArchive-Tools"]
	path = WArchive-Tools
	url = https://github.com/LordNed/WArchive-Tools.git
	branch = ISO_Opening_Experiments
[submodule "JStudio"]
	path = JStudio
	url = https://github.com/LordNed/JStudio.git