<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssimpNet" version="4.1.0" targetFramework="net45" />
  <package id="DynamicData" version="6.16.8" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="4.0.1" targetFramework="net472" />
  <package id="log4net" version="2.0.9" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NodeNetwork" version="4.3.0" targetFramework="net472" />
  <package id="NodeNetworkToolkit" version="4.3.0" targetFramework="net472" />
  <package id="Pharmacist.Common" version="1.8.1" targetFramework="net472" />
  <package id="ReactiveUI" version="11.5.35" targetFramework="net472" />
  <package id="ReactiveUI.Events.WPF" version="11.5.35" targetFramework="net472" />
  <package id="ReactiveUI.WPF" version="11.5.35" targetFramework="net472" />
  <package id="SharpYaml" version="1.6.6" targetFramework="net472" />
  <package id="Splat" version="9.5.35" targetFramework="net472" />
  <package id="Splat.Drawing" version="9.5.35" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net472" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net472" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reactive" version="4.4.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net45" />
  <package id="YamlDotNet" version="8.1.2" targetFramework="net472" />
</packages>